#Ignore node_modules folder
/node_modules/

#Ignore log files
logs
*.log

#Ignore env file
.env

#Ignore os files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

#Ignore build folder
/build

#Ignore temp files
*.sublime-project
*.sublime-workspace
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

#Ignore cache files
npm-debug.log
yarn-debug.log
yarn-error.log

#Ignore vscode files
.vscode
.settings
launch.json

#Ignore test files
coverage
